
/* bootstrap template css */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
  height: auto;
  padding: 15px;
  }
  .row.content {height:auto;} 
}



/* This is the CSS stylesheet for the webpage */

.header {
  color: #FFF;
  text-align: center;
}
.navbar {
  text-align: center;
  /* float: left; */
  width: 16.66%;
  overflow: hidden;
  background-color: #1A1A1A;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-nav{
  float:none;
  display:inline-block;
}
.navbar a {
    text-align: center;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 15px;
    text-decoration: none;
}
/* .navbar a:hover {
  background: #ddd;
} */
.navbar-brand img{
  height:100%;
}

body {
  font-family: "Arial", serif;
  margin-top:50px;
}
h2 {
  text-align: center;
}
/*
h3{
	text-align: left;
}

h4{
	text-align: left;
}*/

